@import "tailwindcss";


.container{
    @apply max-w-6xl mx-auto px-4
}



.primary_button{
    @apply bg-slate-900 text-white px-6 py-2 rounded-md cursor-pointer
     hover:bg-slate-700
}

.outline_button{
    @apply border border-slate-300 px-6 py-2 rounded-md cursor-pointer hover:bg-slate-50
}


label{
    @apply text-slate-900 font-medium block mb-1
}

input{
    @apply border border-slate-300 p-2 rounded-md
         focus:outline-teal-500 w-full placeholder:text-sm
         placeholder:text-gray-400
}